body > header
{
    background-color: #046DD5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	
	display:block;
	width: 98.9%;
	
	position: absolute;
	top:10px;
}

body > header a:link
{
    text-decoration: none;
    color: white;
}

body > header a:visited
{
    text-decoration: none;
    color: white;
}

body > header > h1
{
    padding-top: 0em;
    padding-bottom: 0px;
    padding-left: 1em;
    padding-right: 0px;

    font-size: 25px;
}

body > header > h2
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2em;
    padding-right: 0px;

    font-size: 15px;
}

body > header > div
{
    padding-top: 0px;
    padding-bottom: 0em;
    padding-left: 2em;
    padding-right: 0px;
}

body > header > div > :nth-child(1)
{
	border-right: 1px solid white;
	padding-right: 1em;
}

body > header > div > :nth-child(2)
{
	padding-left: 1em;
}

#hamburger
{
    display: none;
}

#menu
{
	padding-top: 6em;
}

#menu > ul
{
    list-style: none;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

    text-align: center;
	
	display:inline;
	width: 100%;
}

#menu a
{
    color: black;
	font-weight: bold;
}

#menu li
{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0px;
    padding-right: 0px;
}

#menu > ul > :nth-child(1)
{
    border-top: 6px solid #E1493E;
}

#menu > ul > :nth-child(2)
{
    border-top: 6px solid #8ABA56;
}

#menu > ul > :nth-child(3)
{
    border-top: 6px solid #5B4282;
}

#menu > ul > :nth-child(4)
{
    border-top: 6px solid #FF8932;
}

#menu > ul > :nth-child(5)
{
    border-top: 6px solid #19B6E9;
}

#menu > ul > :nth-child(6)
{
    border-top: 6px solid #E84C8B;
}

#menu > ul a:link
{
    text-decoration: none;
}

#menu > ul a:visited
{
    text-decoration: none;
}


#related
{
    background-color: #2A2F33;
	
	position:absolute;
	top: 450px;
	
	padding-top: 1em;
}

#related h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
	padding-left: 1em;
}

#related a:link
{
    text-decoration: none;
    color: white;
}

#related a:visited
{
    text-decoration: none;
    color: white;
}

#related p
{
    text-decoration:none;
    color: white;
    font-family : Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
	padding-left: 1em;
}

#news
{
	position:absolute;
	top:  760px;
	
}

#news > header
{
	text-align: center;
	position: absolute;
	top: 200px;
	right: 16px;
}